.borderContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.container {
  composes: container from '../App/App.module.css';
  padding: 15px 0 32px 0;
}

.title {
  composes: title from '../TiketBuyers/TiketBuyers.module.css';
  padding-bottom: 14.5px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 19px;
}

.button {
  cursor: pointer;
  border: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #101010;
  color: white;
  padding: 0;
}