.borderContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.container {
  composes: container from '../../index.module.css';
  padding: 15px 0 32px 0;
}

.title {
  composes: sectionTitle from '../../index.module.css';
  padding-bottom: 14.5px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 19px;
}

.button {
  composes: blackButton from '../../index.module.css';
  font-size: 20px;
  align-self: center;
  padding: 15px 0;
}