.container {
  composes: container from '../../index.module.css';
  padding: 23px 0 0 0;
}

.title {
  composes: sectionTitle from '../../index.module.css';
  padding-bottom: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 154px;
  grid-auto-rows: 154px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}