.promo {
  width: 100%;
  height: 439px;
  position: relative;
  padding: 120px 0 45px 0;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}

.textContainer {
  composes: container from '../../index.module.css';
  padding: 37px 0 96px 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.title {
  font-family: 'Alegreya Sans SC';
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin: 0 auto;
  padding-bottom: 5px;
  z-index: 2;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.date {
  font-family: 'Alegreya Sans SC';
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  z-index: 2;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
  margin: 0 auto;
}

.slider {
  composes: container from '../../index.module.css';
  display: flex;
  justify-content: space-between;
}

.sliderButtonLeft {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  padding: 0;
  cursor: pointer;
}

.sliderButtonRight {
  composes: sliderButtonLeft;
  transform: rotate(180deg);
}

.sliderButtonLeft:hover {
  background-color: white;
}

.sliderButtonLeft:hover svg > path {
  fill: black;
}

.button {
  composes: button from '../../index.module.css';
  padding: 10.5px 59.5px;
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 23.22%, rgba(0, 0, 0, 0.14) 42.37%, rgba(0, 0, 0, 0) 56.3%);
  transform: rotate(180deg);
  z-index: -1;
}