.header {
  width: 100%;
  background-color: #101010;
  padding: 15px 0;
}

.flexContainer {
  composes: container from '../../index.module.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.navigation {
  display: flex;
  gap: 12px;
}

.profileButton {
  composes: whiteButton from '../../index.module.css';
  padding: 11.5px 57px;
}

.vButton {
  composes: whiteButton from '../../index.module.css';
  padding: 11.5px 40.5px;
}
