.container {
  padding-bottom: 25px;
}

.borderBottomContainer {
  border-bottom: 1px solid black;
}

.borderTopContainer {
  border-top: 1px solid black;
}

.name {
  composes: container from '../../index.module.css';
  composes: sectionTitle from '../../index.module.css';
  margin: 0 auto;
  padding: 11px 18px 13px 18px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}

.flexContainer {
  composes: container from '../../index.module.css';
  display: flex;
  box-sizing: border-box;
}

.gridContainer {
  composes: container from '../../index.module.css';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-right: 1px solid black;
  box-sizing: border-box;
}

.text {
  border-left: 1px solid black;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  padding: 14px 22px 14px 18px;
}

.button {
  composes: blackButton from '../../index.module.css';
  flex: 1 1 auto;
  padding: 0 20px;
}

.button:last-of-type {
  margin-left: 1px;
}