.container {
  border: 1px solid #DADADA;
  padding: 13px 16px 15px 15px;
  min-width: 24%;
  max-width: 24%;
  box-sizing: border-box;
}

.container:hover {
  border: 1px solid black;
}

.name {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  margin: 0;
  padding-bottom: 4px;
  width: 205px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.city {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  padding-bottom: 35px;
  width: 205px;
  color: rgba(0, 0, 0, 0.41);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  composes: blackButton from '../../index.module.css';
  padding: 10px 20px;
  display: flex;
  max-width: max-content;
}