.container {
  padding-top: 30px;
}

.title {
  composes: title from '../Post/Post.module.css';
  font-size: 25px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 30px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}